cachetools==5.4.0
einops==0.8.0
ipdb==0.13.13
nltk==3.9.1
omegaconf==2.3.0
packaging==25.0
pytorch_lightning==2.2.2
PyYAML==6.0.2
tqdm==4.66.5
SentencePiece==0.2.0
transformers==4.51.3
deepspeed==0.14.1
torch==2.6.0
peft==0.10.0
numpy==1.26.4
tensorboard==2.16.2
accelerate==0.29.3
